<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com/h1>
    <p>
      You have successfully signed up to <a href="99cats.com">99cats.com</a>,
      your username is: <%= @user.username %>.<br />
    </p>
    <p>
      To login to the site, just follow this link: <a href="99cats.com">99cats.com</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>