<h2 class='page-header'>Create a new band!</h2>

<form class='form' action="<%= bands_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <label>Name</label>
  <input type="text" name="band[name]">

  <br>
  <br>

  <input type="submit" value="Submit">
</form>
